{% extends "couriermanage/base.html" %}
{% block content %}
	<center><h3 style="background-color: rgba(107, 224, 203, 0.5);">Courier management is the process of planning and executing last-mile delivery for packages and goods. <br> managers are responsible for scheduling order deliveries, assigning them to couriers, overseeing operations while couriers are in the field, and suggesting strategic improvements for future planning.</h3></center>
	<center><h2 style="background-color: rgba(72, 167, 199, 0.5);">This website is developed by ....<br> D.Shiva Sai <br> Y.Shiva Kumar <br>N.Shashank Sagar <br>M.Shashivardhan Reddy <br>D.Hemanth Reddy <br>D.Shiva kumar</h2></center>
{% endblock content %}