<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="centered-heading">Object Detection</h1>
        <form method="post" enctype="multipart/form-data" class="centered-form">
            <input type="file" name="file" accept=".jpg, .jpeg, .png">
            <input type="submit" value="Upload">
        </form>
        {% if message %}
        <p class="message">{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>
